/* --------------------------
       universal styles 
---------------------------*/

* {
    font-family: sans-serif;
}

/* --------------------------
    Styling Top Section 
-------------------------- */

.top-section{
    background-color: #ddf4ff;
}

/* styling nav */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>a{
    text-decoration: none;
    color: black;
}

.h4{
    font-size: 1.8em;
}

.lnav{
    padding: 0.5em 1em;
}

.lnav:hover{
    background-color: #0a9cfd;
    cursor: pointer;
}

.ulnav{
    list-style: none;
    display: flex;
}

/* styling brand new architects part */

.container1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 *{
    margin: 1vw;
}

.h1{
    font-size: 5em;
    text-align: center;
}

.btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 5px 10px;
    height: 45px;
    border-radius: 5px;
    width: 118px;
    background: #0a9cfd;
}

.btn:hover {
    background-color: #0075fa;
    cursor: pointer;
}

.btn:active {
  background-color: #0075fa;
  transform: translateY(4px);
}

.container1>img{
    max-width: 80%;
}

/* --------------------------
  Styling Features Section 
-------------------------- */

.features, .accomplish{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 4em;
    margin: 4em 0em;
}

.container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

.container3{
    display: flex;
    flex-direction: column;
}

.container3>p, .container3>button{
    margin: 1vw;
}

.h2{
    font-size: 3em;
}

/* -----------------------------
  Styling Features Love & Enjoy 
----------------------------- */

.lovefeat{
    display: grid;
    grid-template-columns: 1.5fr 1.9fr;
    gap: 5em;
    margin: 0em 15em;
}

.h3{
    border-left:0.12em solid #0a9cfd;
    font-size: 3em;
    padding-left: 1em;
}

.shcontainer{
    box-shadow: 3px 3px 5px 6px rgb(231, 231, 231);
    padding: 1.5em;
    margin: 1.5em 0em;
}

.h5{
    font-size: 1.3em;
}

.lovefeatr{
    position: relative;
    padding: 1em;
}

.lovefeatr>img{
    max-width: 100%;
    margin-top: 3em;
    margin-left: 3em;
}

.lovefeatr>button{
    display: flex;
    flex-direction: column;
    font-size: 4em;
    width: 5.2em;
    height: 3em;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* -----------------------------
        Styling Facts 
----------------------------- */

.facts{
    margin: 10em;
}

.factsu{
    margin-left: 3em;
}

.factsu>.para{
    width: 30em;
}

.factsl{
    display: flex;
    justify-content:space-between ;
    text-align: center;
    margin: 5em 9em;
}

.bordercontainer{
    border: 0.2em solid #a0d9ff;
    border-radius: 0.5em;
    padding: 1em;
    width: 10em;
}

/* -----------------------------
        Styling Sponsors 
----------------------------- */

.sponsors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-container{
    display: flex;
    justify-content: space-between;
}

.icon-container>img{
    margin: 4em;
    max-width: 100%;
    filter: grayscale(100%);
}

/* -----------------------------
        Styling Footer 
----------------------------- */

footer{
    text-align: center;
    background-color: #ddf4ff;
    margin: 0em 20em;
    padding: 0.5em 0em;
    border-radius: 1em;
}
